{
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "no-undef": 2,
    "no-unused-vars": 2,
    "no-console": 2,
    "no-debugger": 2,
    "no-constant-binary-expression": 1,
    "no-implicit-coercion": 1,
    "no-unneeded-ternary": 1
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "ignorePatterns": ["src/**/js/plugins/**/*.js"]
}
