{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "singleQuote": true,
  "overrides": [
    {
      "files": ["**/*.scss", "**/*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
