.bad-actors {
  &__grid {
    margin-bottom: var(--space-8);
    column-gap: var(--space-6);
  }

  &__heading {
    margin-bottom: var(--space-0);
  }

  &__sep {
    @include size(100%, 1px);
    background-color: var(--black-1);
    margin: var(--space-0) 0;
  }

  &__subheading {
    margin-bottom: 10px;
  }

  &__graph-container {
    @include screen-below($mobile) {
      padding: 0;
    }
  }

  &__graph-desktop {
    @include screen-below($mobile) {
      display: none;
    }
  }

  &__graph-mobile {
    @include screen-above($mobile) {
      display: none;
    }
  }

  &__learn-more {
    width: 46.7%;
    margin: -30px auto 0 33.5%;
    z-index: 2;
    padding: var(--space-8) var(--space-2) var(--space-4);

    @include screen-below($laptop) {
      width: 70%;
      margin: -15px auto 0;
    }

    @include screen-below($mobile) {
      width: 89.5vw;
      margin-top: -3px;
    }

    @include screen-below($mobile-sm) {
      width: calc(90vw - 2px);
    }
  }

  &__learn-more-heading {
    font-size: rem(12);
    margin-bottom: 20px;
  }

  &__learn-more-copy {
    font-size: rem(16);
  }

  &__instances {
    @include absolute(-18px, null, null, 50%);
    transform: translateX(-50%);
    z-index: 4;
    width: 140px;
    padding: 35px 18px;
    border: 2px solid var(--black-1);

    @include screen-below($portrait) {
      top: -40px;
    }

    @include screen-below($mobile) {
      top: -95px;
    }
  }

  &__instances-text {
    font-size: rem(13);
    margin-bottom: 10px;
  }

  &__instances-number {
    line-height: 1;
  }
}
