.prefooter {
  margin-bottom: 0;

  &__container {
    max-width: 2000px;
    padding: 0;
  }

  &__bg {
    padding: var(--space-7) var(--space-9);

    @include screen-below($mobile) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__heading {
    margin-bottom: var(--space-0);
  }

  &__copy {
    font-size: rem(16);

    @include screen-above($mobile) {
      gap: var(--space-6);
    }
  }

  &__underlined {
    text-decoration: underline;
  }

  a {
    text-decoration: none;
    color: var(--blue-3);
    transition: 0.2s color ease;

    &:focus,
    &:hover {
      color: var(--blue-4);
    }
  }
}
