<section id="overview" class="cover-overview container container--wide">
  <div class="cover-overview__blue-wrap bg-black-gradient text-white">
    <div class="cover-overview__copy animated-inner-content">
      <p>
        The digital world has accelerated through a transformation these past
        few years, but one truth remains: nobody is safe from subpar security
        strategies.
      </p>
    </div>

    <div class="cover-overview__small-copy animated-inner-content">
      <p>
        In our hyper-focus on the shift to the cloud and enabling hybrid
        workforces for success, it&rsquo;s never been clearer that web
        application security (AppSec) needs to stay top of mind for
        organizations large and small. Otherwise, they risk severe consequences
        around customer and company data exposure.
      </p>
    </div>

    <div class="position-relative animated-floating-covers">
      <h2 class="h1 cover-overview__heading">Report overview</h2>

      <svg
        class="cover-overview__graphic-mobile"
        width="342"
        viewBox="0 0 342 114"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="285"
          cy="57"
          r="56"
          stroke="var(--blue-1, #faf9f7)"
          stroke-width="2"
        ></circle>
        <circle cx="57" cy="57" r="57" fill="var(--blue-1, #faf9f7)"></circle>
        <circle
          cx="171"
          cy="57"
          r="57"
          fill="url(#paint0_linear_12_7198)"
        ></circle>
        <defs>
          <linearGradient
            id="paint0_linear_12_7198"
            x1="171"
            y1="0"
            x2="171"
            y2="114"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="var(--blue-1, #faf9f7)"></stop>
            <stop
              offset="1"
              stop-color="var(--blue-1, #faf9f7)"
              stop-opacity="0"
            ></stop>
          </linearGradient>
        </defs>
      </svg>

      <div class="cover-overview__line-graphic">
        <span class="cover-overview__number text-blue-8">01</span>
        <div class="cover-overview__sep"></div>
        <span class="cover-overview__subheading">Report overview</span>

        <svg
          class="cover-overview__graphic"
          width="150"
          viewBox="0 0 150 450"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="75"
            cy="75"
            r="74"
            stroke="var(--blue-1, #faf9f7)"
            stroke-width="2"
          />
          <circle cx="75" cy="375" r="75" fill="var(--blue-1, #faf9f7)" />
          <circle cx="75" cy="225" r="75" fill="url(#paint0_linear_141_1654)" />
          <defs>
            <linearGradient
              id="paint0_linear_141_1654"
              x1="75"
              y1="150"
              x2="75"
              y2="300"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="var(--blue-1, #faf9f7)" />
              <stop
                offset="1"
                stop-color="var(--blue-1, #faf9f7)"
                stop-opacity="0"
              />
            </linearGradient>
          </defs>
        </svg>
      </div>

      <div class="cover-overview__icon cover-overview__icon-1 floating-cover">
        {{> svg/report-icon }}
      </div>
      <div class="cover-overview__icon cover-overview__icon-2 floating-cover">
        {{> svg/report-icon }}
      </div>
      <div class="cover-overview__icon cover-overview__icon-3 floating-cover">
        {{> svg/report-icon }}
      </div>
    </div>
  </div>
</section>
