<section
  id="vulnerabilities"
  class="cover-vulnerabilities section-spacing container container--wide"
>
  <div class="cover-vulnerabilities__blue-wrap bg-black-gradient text-white">
    <h2 class="h1 cover-vulnerabilities__heading">Common vulnerabilities</h2>

    <div class="cover-vulnerabilities__line-graphic position-relative">
      <span class="cover-vulnerabilities__number text-blue-8">03</span>
      <div class="cover-vulnerabilities__sep"></div>
      <span class="cover-vulnerabilities__subheading"
        >Common vulnerabilities</span
      >

      <svg
        class="cover-vulnerabilities__graphic"
        width="342"
        viewBox="0 0 342 114"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="285"
          cy="57"
          r="56"
          stroke="var(--blue-1, #faf9f7)"
          stroke-width="2"
        />
        <circle cx="57" cy="57" r="57" fill="var(--blue-1, #faf9f7)" />
        <circle cx="171" cy="57" r="57" fill="url(#paint0_linear_141_1127)" />
        <defs>
          <linearGradient
            id="paint0_linear_141_1127"
            x1="171"
            y1="0"
            x2="171"
            y2="114"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="var(--blue-1, #faf9f7)" />
            <stop
              offset="1"
              stop-color="var(--blue-1, #faf9f7)"
              stop-opacity="0"
            />
          </linearGradient>
        </defs>
      </svg>
    </div>
  </div>
</section>
