<section id="ahead" class="cover-ahead container container--wide">
  <div class="cover-ahead__blue-wrap bg-black-gradient text-white">
    <div class="position-relative animated-floating-covers">
      <h2 class="h1 cover-ahead__heading">Looking ahead</h2>

      <svg
        class="cover-ahead__graphic-mobile"
        width="342"
        viewBox="0 0 342 114"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="285"
          cy="57"
          r="56"
          stroke="var(--blue-1, #faf9f7)"
          stroke-width="2"
        ></circle>
        <circle cx="57" cy="57" r="57" fill="var(--blue-1, #faf9f7)"></circle>
        <circle
          cx="171"
          cy="57"
          r="57"
          fill="url(#paint0_linear_12_7198)"
        ></circle>
        <defs>
          <linearGradient
            id="paint0_linear_12_7198"
            x1="171"
            y1="0"
            x2="171"
            y2="114"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="var(--blue-1, #faf9f7)"></stop>
            <stop
              offset="1"
              stop-color="var(--blue-1, #faf9f7)"
              stop-opacity="0"
            ></stop>
          </linearGradient>
        </defs>
      </svg>

      <div class="cover-ahead__line-graphic">
        <span class="cover-ahead__number text-blue-8">04</span>
        <div class="cover-ahead__sep"></div>
        <span class="cover-ahead__subheading">Looking ahead</span>

        <svg
          class="cover-ahead__graphic"
          viewBox="0 0 300 450"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="225"
            cy="75"
            r="74"
            stroke="var(--blue-1, #faf9f7)"
            stroke-width="2"
          />
          <circle
            cx="75"
            cy="375"
            r="74"
            stroke="var(--blue-1, #faf9f7)"
            stroke-width="2"
          />
          <circle cx="225" cy="375" r="75" fill="var(--blue-1, #faf9f7)" />
          <circle cx="75" cy="225" r="75" fill="var(--blue-1, #faf9f7)" />
          <circle cx="225" cy="225" r="75" fill="url(#paint0_linear_141_326)" />
          <circle cx="75" cy="75" r="75" fill="url(#paint1_linear_141_326)" />
          <defs>
            <linearGradient
              id="paint0_linear_141_326"
              x1="225"
              y1="150"
              x2="225"
              y2="300"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="var(--blue-1, #faf9f7)" />
              <stop
                offset="1"
                stop-color="var(--blue-1, #faf9f7)"
                stop-opacity="0"
              />
            </linearGradient>
            <linearGradient
              id="paint1_linear_141_326"
              x1="75"
              y1="0"
              x2="75"
              y2="150"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="var(--blue-1, #faf9f7)" />
              <stop
                offset="1"
                stop-color="var(--blue-1, #faf9f7)"
                stop-opacity="0"
              />
            </linearGradient>
          </defs>
        </svg>
      </div>

      <div class="cover-ahead__icon cover-ahead__icon-1 floating-cover">
        {{> svg/ahead-report-icon }}
      </div>
      <div class="cover-ahead__icon cover-ahead__icon-2 floating-cover">
        {{> svg/ahead-report-icon }}
      </div>
      <div class="cover-ahead__icon cover-ahead__icon-3 floating-cover">
        {{> svg/ahead-report-icon }}
      </div>
    </div>
  </div>
</section>
