<section class="data-set section-spacing text-center">
  <div class="container container--wide">
    <h2 class="data-set__heading animated-fade-up">
      2021<br />Our biggest data set to date
    </h2>
    <div class="grid data-set__grid-wrap">
      <div
        class="data-set__stat position-relative gradient-card animated-big-stat"
      >
        <span
          class="data-set__big-num text-blue-3 text-medium position-relative"
          >170</span
        >
        <p
          class="data-set__stat-text big-stat-text text-uppercase text-medium position-relative"
        >
          Hours spent analyzing report data
        </p>
      </div>

      <div
        class="data-set__stat position-relative gradient-card animated-big-stat"
      >
        <span
          class="data-set__big-num text-blue-3 text-medium position-relative"
          >939</span
        >
        <p
          class="data-set__stat-text big-stat-text text-uppercase text-medium position-relative"
        >
          Customer instances studied
        </p>
      </div>

      <div
        class="data-set__stat position-relative gradient-card animated-big-stat"
      >
        <span
          class="data-set__big-num text-blue-3 text-medium position-relative"
          >282,914</span
        >
        <p
          class="data-set__stat-text big-stat-text text-uppercase text-medium position-relative"
        >
          Direct-impact vulnerabilities found
        </p>
      </div>
    </div>
    <div
      class="data-set__stat data-set__stat--large position-relative gradient-card animated-big-stat"
    >
      <span
        class="data-set__bigger-num data-set__bigger-num--large text-blue-3 text-medium position-relative"
        >23,630,985,830</span
      >
      <span
        class="data-set__bigger-num data-set__bigger-num--small text-blue-3 text-medium position-relative"
        >23.630B</span
      >
      <p
        class="data-set__stat-text text-uppercase text-medium big-stat-text position-relative"
      >
        Security checks performed
      </p>
    </div>
  </div>
</section>
