<div class="get-a-demo position-relative">
  <section
    class="get-a-demo__container container container--wide section-spacing text-center"
  >
    <h2 class="get-a-demo__heading h1 animated-fade-up">Get a demo</h2>

    <div class="get-a-demo__copy animated-inner-content">
      <p>
        Invicti Security is changing the way web applications are secured by
        organizations across the world.
      </p>
    </div>

    <a href="#" class="get-a-demo__cta text-white bg-blue-5">Get a demo</a>
  </section>
  <picture>
    <source
      srcset="/assets/img/cta_wave.webp"
      type="image/webp"
      media="(min-width: 980px)"
    />
    <source
      srcset="/assets/img/cta_wave_t.webp"
      type="image/webp"
      media="(min-width: 420px)"
    />
    <source srcset="/assets/img/cta_wave_m.webp" type="image/webp" />
    <img
      loading="lazy"
      src="/assets/img/cta_wave.png"
      alt=""
      class="get-a-demo__wave-image animated-fade-up"
    />
  </picture>
</div>
