<section class="head-scratch section-spacing">
  <div class="container head-scratch__top-grid grid grid--two-col">
    <h2 class="h4 head-scratch__heading animated-fade-up">
      We&rsquo;re left scratching our heads and wondering why some of these
      risks are going up in frequency when they should be going away for good.
    </h2>

    <div class="head-scratch__top-copy animated-inner-content">
      <p>
        What it comes down to is a disconnect between the reality of risk and
        the strategic mandate for innovation. It isn&rsquo;t always easy to get
        everyone on board with security, especially when it seems like security
        is holding you back from project completion or will be too costly to set
        up. But what most budget-holders don&rsquo;t realize is that security
        and innovation go hand-in-hand.
      </p>
      <p>
        Nobody wants XSS lurking inside of every app - unless they&rsquo;re a
        bad guy. Talk with your employees about what they need and then roll out
        a plan to tackle those time-consuming and avoidable risk points. You
        should always expect your developers to further their knowledge of
        common vulnerabilities and how to prevent them, especially when it comes
        to severe flaws we keep seeing year after year.
      </p>
    </div>
  </div>

  <div class="container container--wide">
    <div class="head-scratch__bottom-copy animated-inner-content">
      <p>
        If you want to convince stakeholders that they need to invest in modern
        tools, help them
        <span class="head-scratch__blue-bold text-blue-5"
          >understand that security and innovation need not be in competition
          with one another</span
        >
        and that both development and security teams are suffering similar
        stressors. Both are stretched thin as they contend with antiquated
        tooling, disjointed processes, and too much manual work. This dynamic
        causes friction and the sense of a zero-sum game between innovation and
        security.
      </p>
    </div>
  </div>
</section>
