<section class="hero">
  <div class="hero__container container container--wide position-relative">
    <h1 class="hero__bg-text position-relative">
      The Invicti<br />AppSec Indicator
    </h1>

    <div class="hero__copy">
      <h2 class="hero__copy-text h4">
        <strong>Spring 2022 Edition:</strong><br />Worrisome vulnerability
        trends in the race to innovation
      </h2>

      <a href="#overview" class="hero__next-arrow animated-next-arrow">
        <svg
          width="24"
          height="15"
          viewBox="0 0 24 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M22 2L12 12L2 2"
            stroke="var(--black-1, #101820)"
            stroke-width="4"
          />
        </svg>
      </a>
    </div>
  </div>

  <div class="hero__wave-image">
    <picture>
      <source
        srcset="/assets/img/hero_wave.webp"
        type="image/webp"
        media="(min-width: 980px)"
      />
      <source
        srcset="/assets/img/hero_wave_t.webp"
        type="image/webp"
        media="(min-width: 420px)"
      />
      <source srcset="/assets/img/hero_wave_m.webp" type="image/webp" />
      <img src="/assets/img/hero_wave.jpg" alt="" />
    </picture>
  </div>
</section>
