<section class="improve">
  <div class="container container--wide position-relative">
    <div class="improve__grid grid grid--two-col position-relative bg-blue-1">
      <div class="improve__left-box improve__box bg-white position-relative">
        <p>
          How do we get a handle on these all-too-persistent flaws and improve
          security without sacrificing innovation?
        </p>
        <div
          class="improve__dot improve__dot--start improve__dot--desktop"
        ></div>
      </div>
      <div
        class="improve__right-box improve__box bg-blue-5 text-white position-relative"
      >
        <p>
          By embracing a security mindset at every level of the organization and
          building the culture, processes, and accountability to support it.
        </p>
        <div class="improve__dot improve__dot--end improve__dot--desktop"></div>
      </div>
      <div class="improve__start-line improve__start-line--desktop"></div>
      <div
        class="improve__horizontal-line improve__horizontal-line--desktop"
      ></div>
      <div class="improve__end-line improve__end-line--desktop"></div>
    </div>

    <div class="improve__bg-text improve__bg-text--desktop text-medium">
      improve
    </div>

    <svg
      class="improve__circles--desktop"
      viewBox="90 90 867 434"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="307"
        cy="307"
        r="217"
        transform="rotate(135 307 307)"
        fill="url(#paint0_linear_614_6)"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M153.442 460.325C238.186 545.068 375.582 545.068 460.326 460.325C545.07 375.581 545.07 238.184 460.326 153.44L153.442 460.325Z"
        fill="var(--white, #FFF)"
      />
      <circle
        cx="740"
        cy="307"
        r="217"
        transform="rotate(135 740 307)"
        fill="url(#paint1_linear_614_6)"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M586.442 460.325C671.186 545.068 808.583 545.068 893.326 460.325C978.07 375.581 978.07 238.184 893.326 153.44L586.442 460.325Z"
        fill="var(--white, #FFF)"
      />
      <defs>
        <linearGradient
          id="paint0_linear_614_6"
          x1="521.219"
          y1="334.379"
          x2="111.805"
          y2="411.454"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="var(--blue-4, #CC8BDB)" />
          <stop
            offset="1"
            stop-color="var(--blue-4, #CC8BDB)"
            stop-opacity="0"
          />
        </linearGradient>
        <linearGradient
          id="paint1_linear_614_6"
          x1="954.219"
          y1="334.38"
          x2="544.805"
          y2="411.455"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="var(--blue-4, #CC8BDB)" />
          <stop
            offset="1"
            stop-color="var(--blue-4, #CC8BDB)"
            stop-opacity="0"
          />
        </linearGradient>
      </defs>
    </svg>

    <div class="improve__mobile-graphic-wrap">
      <div class="improve__dot improve__dot--start"></div>
      <div class="improve__dot improve__dot--end"></div>

      <div class="improve__start-line improve__start-line--mobile"></div>
      <div
        class="improve__horizontal-line improve__horizontal-line--mobile"
      ></div>
      <div class="improve__end-line improve__end-line--mobile"></div>

      <div class="improve__bg-text improve__bg-text--mobile text-medium">
        improve
      </div>

      <svg
        class="improve__circles--mobile"
        viewBox="0 0 353 276"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="241"
          cy="164"
          r="78.5"
          transform="rotate(135 241 164)"
          fill="url(#paint0_linear_141_2005)"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M185.549 219.646C216.228 250.325 265.968 250.325 296.646 219.646C327.325 188.967 327.325 139.227 296.647 108.549L185.549 219.646Z"
          fill="var(--white, #FFF)"
        />
        <mask
          id="mask0_141_2005"
          style="mask-type: alpha"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="94"
          height="208"
        >
          <rect width="94" height="208" fill="#D9D9D9" />
        </mask>
        <g mask="url(#mask0_141_2005)">
          <ellipse
            cx="-14.902"
            cy="89.0977"
            rx="78.5576"
            ry="78.5575"
            transform="rotate(-45 -14.902 89.0977)"
            fill="url(#paint1_linear_141_2005)"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M40.6461 33.5493C9.96748 2.87078 -39.7723 2.87081 -70.4509 33.5494C-101.13 64.228 -101.13 113.968 -70.451 144.646L40.6461 33.5493Z"
            fill="var(--white, #FFF)"
          />
        </g>
        <defs>
          <linearGradient
            id="paint0_linear_141_2005"
            x1="318.69"
            y1="174.051"
            x2="170.475"
            y2="201.954"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="var(--blue-4, #CC8BDB)" />
            <stop
              offset="1"
              stop-color="var(--blue-4, #CC8BDB)"
              stop-opacity="0"
            />
          </linearGradient>
          <linearGradient
            id="paint1_linear_141_2005"
            x1="62.6909"
            y1="99.0514"
            x2="-85.524"
            y2="126.954"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="var(--blue-4, #CC8BDB)" />
            <stop
              offset="1"
              stop-color="var(--blue-4, #CC8BDB)"
              stop-opacity="0"
            />
          </linearGradient>
        </defs>
      </svg>
    </div>
  </div>
</section>
