<section class="map section-spacing">
  <div class="container container--wide">
    <div class="map__copy-wrap">
      <h2 class="map__heading animated-fade-up">AppSec by region</h2>
      <div class="animated-inner-content">
        <p>
          Here we can see the global makeup of our customers, which provides us
          with a more comprehensive view into vulnerability trends by region.
        </p>
      </div>
    </div>

    <div class="map__wrap position-relative">
      <div
        class="map__overlay map__overlay--na text-medium text-center position-relative animated-map-card"
      >
        <div class="map__percent text-blue-3">46%</div>
        <div class="map__region text-uppercase">North America</div>
      </div>

      <div
        class="map__overlay map__overlay--csa text-medium text-center position-relative animated-map-card"
      >
        <div class="map__percent text-blue-3">5%</div>
        <div class="map__region text-uppercase">Central and South America</div>
      </div>

      <div
        class="map__overlay map__overlay--e text-medium text-center position-relative animated-map-card"
      >
        <div class="map__percent text-blue-3">29%</div>
        <div class="map__region text-uppercase">Europe</div>
      </div>

      <div
        class="map__overlay map__overlay--ame text-medium text-center position-relative animated-map-card"
      >
        <div class="map__percent text-blue-3">7%</div>
        <div class="map__region text-uppercase">Africa and Middle East</div>
      </div>

      <div
        class="map__overlay map__overlay--ap text-medium text-center position-relative animated-map-card"
      >
        <div class="map__percent text-blue-3">13%</div>
        <div class="map__region text-uppercase">Asia Pacific</div>
      </div>

      <div class="map__graphic">
        <img src="/assets/img/map-graphic.svg" alt="" />
      </div>
    </div>

    <div class="map__carousel">
      <div class="map__carousel-viewport">
        <div class="map__carousel-container flex">
          <div class="map__slide text-medium position-relative">
            <div class="map__globe position-relative">
              <img
                class="position-relative"
                src="/assets/img/globe-na.svg"
                alt=""
              />
            </div>

            <div class="map__slide-content position-relative text-center">
              <div class="map__percent text-blue-5">46%</div>
              <div class="map__region text-uppercase">North America</div>
            </div>
          </div>

          <div class="map__slide text-medium position-relative">
            <div class="map__globe position-relative">
              <img
                class="position-relative"
                src="/assets/img/globe-csa.svg"
                alt=""
              />
            </div>

            <div class="map__slide-content position-relative text-center">
              <div class="map__percent text-blue-5">5%</div>
              <div class="map__region text-uppercase">
                Central and South America
              </div>
            </div>
          </div>

          <div class="map__slide text-medium position-relative">
            <div class="map__globe position-relative">
              <img
                class="position-relative"
                src="/assets/img/globe-e.svg"
                alt=""
              />
            </div>

            <div class="map__slide-content position-relative text-center">
              <div class="map__percent text-blue-5">29%</div>
              <div class="map__region text-uppercase">Europe</div>
            </div>
          </div>

          <div class="map__slide text-medium position-relative">
            <div class="map__globe position-relative">
              <img
                class="position-relative"
                src="/assets/img/globe-ame.svg"
                alt=""
              />
            </div>

            <div class="map__slide-content position-relative text-center">
              <div class="map__percent text-blue-5">7%</div>
              <div class="map__region text-uppercase">
                Africa and Middle East
              </div>
            </div>
          </div>

          <div class="map__slide text-medium position-relative">
            <div class="map__globe position-relative">
              <img
                class="position-relative"
                src="/assets/img/globe-ap.svg"
                alt=""
              />
            </div>

            <div class="map__slide-content position-relative text-center">
              <div class="map__percent text-blue-5">13%</div>
              <div class="map__region text-uppercase">Asia Pacific</div>
            </div>
          </div>
        </div>
      </div>

      <div class="map__carousel-navigation flex">
        <button class="map__prev map__button">
          <svg
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 15 24"
          >
            <path
              d="M13 2 3 12l10 10"
              stroke="var(--black-1, #101820)"
              stroke-width="4"
            />
          </svg>
        </button>

        <div class="map__dots"></div>

        <button class="map__next map__button">
          <svg
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 15 24"
          >
            <path
              d="m2 2 10 10L2 22"
              stroke="var(--black-1, #101820)"
              stroke-width="4"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
