<section class="once-more section-spacing">
  <div class="container container--wide">
    <div class="once-more__heading-wrap">
      <h2 class="once-more__heading h1 animated-fade-up">
        Once more <br class="once-more__break-mobile" />for the people <br />in
        the back
      </h2>
    </div>

    <div class="once-more__blue-callout bg-blue-1 position-relative">
      <h3 class="once-more__subheading h4 animated-fade-up text-medium">
        Security is everyone&rsquo;s job now.
      </h3>
      <div class="once-more__copy animated-inner-content">
        <p>
          As the pace of innovation continues to accelerate, organizations must
          gain command of their security posture, and the only way to do that is
          to ensure that security is in the DNA of an organization&rsquo;s
          culture, processes, tooling, and people.
        </p>
      </div>

      <svg
        class="once-more__graphic-desktop"
        viewBox="0 0 329 329"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <ellipse
          cx="68.5"
          cy="69.5"
          rx="68.5"
          ry="69.5"
          transform="matrix(-1 0 0 1 139 188)"
          fill="url(#paint0_linear_33_259)"
        />
        <rect
          x="1"
          y="142"
          width="278"
          height="186"
          stroke="var(--black-1, #101820)"
          stroke-width="2"
        />
        <rect x="36" y="148" width="222" height="8" fill="#F7E6FA" />
        <circle cx="10.5" cy="151.5" r="2.5" fill="var(--black-1, #101820)" />
        <circle cx="18.5" cy="151.5" r="2.5" fill="var(--black-1, #101820)" />
        <circle cx="26.5" cy="151.5" r="2.5" fill="var(--black-1, #101820)" />
        <rect
          x="50"
          y="187"
          width="180"
          height="100"
          stroke="var(--black-1, #101820)"
          stroke-width="2"
        />
        <rect x="71" y="208" width="69" height="2" fill="#F7E6FA" />
        <rect x="71" y="214" width="52" height="2" fill="#F7E6FA" />
        <rect x="71" y="220" width="40" height="2" fill="#F7E6FA" />
        <rect x="71" y="226" width="45" height="2" fill="#F7E6FA" />
        <rect
          x="50"
          y="1"
          width="278"
          height="186"
          fill="var(--white, #FFF)"
          stroke="var(--black-1, #101820)"
          stroke-width="2"
        />
        <rect x="85" y="7" width="222" height="8" fill="#F7E6FA" />
        <circle cx="59.5" cy="10.5" r="2.5" fill="var(--black-1, #101820)" />
        <circle cx="67.5" cy="10.5" r="2.5" fill="var(--black-1, #101820)" />
        <circle cx="75.5" cy="10.5" r="2.5" fill="var(--black-1, #101820)" />
        <rect
          x="99"
          y="46"
          width="180"
          height="100"
          stroke="var(--black-1, #101820)"
          stroke-width="2"
        />
        <rect x="110" y="57" width="79" height="51" fill="#F7E6FA" />
        <rect x="204" y="57" width="53" height="2" fill="#F7E6FA" />
        <rect x="204" y="63" width="34" height="2" fill="#F7E6FA" />
        <rect x="204" y="69" width="44" height="2" fill="#F7E6FA" />
        <rect x="204" y="75" width="24" height="2" fill="#F7E6FA" />
        <circle cx="197" cy="145" r="55" fill="var(--black-1, #101820)" />
        <rect
          x="182"
          y="136"
          width="30"
          height="22"
          rx="3"
          stroke="var(--blue-8, #05D5FF)"
          stroke-width="2"
        />
        <path
          d="M188 133C188 128.029 192.029 124 197 124C201.971 124 206 128.029 206 133V136H188V133Z"
          stroke="var(--blue-8, #05D5FF)"
          stroke-width="2"
        />
        <circle
          cx="197"
          cy="145"
          r="3"
          stroke="var(--blue-8, #05D5FF)"
          stroke-width="2"
        />
        <rect
          x="196.5"
          y="147.5"
          width="1"
          height="5"
          fill="var(--white, #FFF)"
          stroke="var(--blue-8, #05D5FF)"
        />
        <defs>
          <linearGradient
            id="paint0_linear_33_259"
            x1="68.5"
            y1="0"
            x2="68.5"
            y2="139"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="var(--blue-5, #591769)" />
            <stop
              offset="1"
              stop-color="var(--blue-5, #591769)"
              stop-opacity="0"
            />
          </linearGradient>
        </defs>
      </svg>

      <svg
        class="once-more__graphic-mobile"
        viewBox="0 0 280 244"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <ellipse
          cx="68.5"
          cy="69.5"
          rx="68.5"
          ry="69.5"
          transform="matrix(-1 0 0 1 208 105)"
          fill="url(#paint0_linear_75_1640)"
        />
        <rect
          x="1"
          y="1"
          width="278"
          height="186"
          fill="var(--white, #FFF)"
          stroke="var(--black-1, #101820)"
          stroke-width="2"
        />
        <rect x="36" y="7" width="222" height="8" fill="#F7E6FA" />
        <circle cx="10.5" cy="10.5" r="2.5" fill="var(--black-1, #101820)" />
        <circle cx="18.5" cy="10.5" r="2.5" fill="var(--black-1, #101820)" />
        <circle cx="26.5" cy="10.5" r="2.5" fill="var(--black-1, #101820)" />
        <rect
          x="50"
          y="46"
          width="180"
          height="100"
          stroke="var(--black-1, #101820)"
          stroke-width="2"
        />
        <rect x="61" y="57" width="79" height="51" fill="#F7E6FA" />
        <rect x="155" y="57" width="53" height="2" fill="#F7E6FA" />
        <rect x="155" y="63" width="34" height="2" fill="#F7E6FA" />
        <rect x="155" y="69" width="44" height="2" fill="#F7E6FA" />
        <rect x="155" y="75" width="24" height="2" fill="#F7E6FA" />
        <circle cx="139" cy="145" r="55" fill="var(--black, #101820)" />
        <rect
          x="124"
          y="136"
          width="30"
          height="22"
          rx="3"
          stroke="var(--blue-8, #05D5FF)"
          stroke-width="2"
        />
        <path
          d="M148 133V136H130V133C130 128.029 134.029 124 139 124C143.971 124 148 128.029 148 133Z"
          stroke="var(--blue-8, #05D5FF)"
          stroke-width="2"
        />
        <circle
          cx="139"
          cy="145"
          r="3"
          stroke="var(--blue-8, #05D5FF)"
          stroke-width="2"
        />
        <rect
          x="138.5"
          y="147.5"
          width="1"
          height="5"
          fill="var(--white, #FFF)"
          stroke="var(--blue-8, #05D5FF)"
        />
        <defs>
          <linearGradient
            id="paint0_linear_75_1640"
            x1="68.5"
            y1="0"
            x2="68.5"
            y2="139"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#591769" />
            <stop offset="1" stop-color="#591769" stop-opacity="0" />
          </linearGradient>
        </defs>
      </svg>
    </div>
  </div>
</section>
