<section class="prefooter">
  <div class="prefooter__container container container--wide">
    <div class="prefooter__bg bg-blue-1">
      <h2 class="h4 prefooter__heading animated-fade-up">Methodology</h2>

      <div class="prefooter__copy grid grid--two-col animated-inner-content">
        <p>
          Conducted in partnership with Wakefield Research, this online survey
          involved 600 stakeholders in U.S. companies with more than 2,500
          employees. Respondents included an equal mix of the following:
          executives with titles VP or higher, such as Directors of IT, VPs or
          SVPs of IT or EVPs leading technology or IT security divisions at
          their company; practitioners with a manager title or equivalent who
          direct IT security at their organization with responsibilities that
          include application security, DevOps, vulnerability management,
          information security, security architects, software security, software
          development, security engineering or penetration testing; and
          developers who write code regarding security programs or IT security
          at their organization, with roles like developer or software engineer.
          Participants were invited via email.
        </p>
        <div>
          <p>
            As innovations in web applications drive the world forward, new
            risks with serious consequences have emerged. Billions of web
            applications today represent a significant attack vector for
            malicious actors, who now use them nearly 40% of the time to gain
            access. Complicating the situation are the massive shift to
            workforce virtualization, the breakneck migration to cloud, and
            ransomware payouts that fund continued research and advancements for
            cybercriminal organizations.
          </p>
          <p>
            Those responsible for building and protecting these assets, and in
            turn, their leaders, have never had a harder job. To innovate with
            security built-in, they must collaborate deeply and use the most
            powerful tools available. And their leaders must prioritize
            application security, enroll in the challenges their teams face, and
            create the context for them to succeed.
          </p>
        </div>
      </div>

      <h2 class="h4 prefooter__heading animated-fade-up">About Invicti</h2>

      <div class="prefooter__copy grid grid--two-col animated-inner-content">
        <p>
          Invicti Security - which acquired and combined AppSec leaders Acunetix
          and Netsparker - is on a mission: application security with zero
          noise. An AppSec leader for more than 15 years, Invicti delivers
          continuous application security, designed to be reliable for security,
          practical for development and serve critical compliance requirements.
          Customers choose Invicti's DAST, SCA and IAST solution to better
          secure and ultimately reduce risk across their web applications and
          APIs. Invicti operates globally with employees in over 11 countries
          and serves more than 4,000 customer organizations. For more
          information, visit
          <a href="http://www.invicti.com/" target="_blank">www.invicti.com</a>
          or follow us on LinkedIn.
        </p>
        <p>
          <span class="prefooter__underlined text-medium">Netsparker</span> is
          the leading enterprise DAST + IAST solution and the first to deliver
          automatic verification of vulnerabilities with its proprietary
          Proof-Based Scanning technology, enabling unparalleled scalability for
          even the largest organizations. Known for its ease of use, speed, and
          accuracy,
          <span class="prefooter__underlined text-medium">Acunetix</span>
          enables even small businesses to leverage best-in-class web
          application security tools, and was the first-ever automated web
          application security scanner to feature both DAST and IAST. Invicti is
          headquartered in Austin, Texas, and serves organizations all around
          the world.
        </p>
      </div>
    </div>
  </div>
</section>
