<section class="security section-spacing">
  <div class="security__grid grid grid--two-col container security__container">
    <h2 class="h4 security__heading animated-fade-up">
      The Fall 2021 version of the Invicti AppSec Indicator fielded a survey
      focused on the working relationship between security and development
      teams, and what we can do to make lives easier on both sides of the aisle.
    </h2>

    <div class="security__copy animated-inner-content">
      <p>
        The numbers were staggering: on average, 51% of a web developer&rsquo;s
        time is spent chasing security issues, and 80% of respondents noted that
        security processes delay delivery times “somewhat” or “significantly.”
        We also uncovered that 1 in 3 security issues identified in scanning
        made it to production without being flagged in the development or test
        stages. That&rsquo;s a big problem that can lead to serious security
        risk and debt over time.
      </p>
    </div>

    <div class="security__graph-card gradient-card position-relative">
      <div class="security__graph text-center">
        <div class="ring position-relative text-center" data-number="51">
          <svg
            class="ring-chart"
            viewBox="0 0 396 396"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="198"
              cy="198"
              r="193"
              stroke="var(--blue-1, #FAF9F7)"
              stroke-width="10"
            />
            <circle
              class="chart-line"
              opacity="0"
              transform="rotate(-90)"
              transform-origin="198 198"
              cx="198"
              cy="198"
              r="193"
              stroke="var(--blue-3, #5d40bd)"
              stroke-width="10"
            />
            <circle cx="198" cy="198" r="175" fill="var(--blue-5, #591769)" />
            <circle
              opacity="0.18"
              cx="198"
              cy="198"
              r="175"
              fill="url(#paint0_linear_89_2864)"
            />
            <defs>
              <linearGradient
                id="paint0_linear_89_2864"
                x1="135"
                y1="42"
                x2="308"
                y2="336"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="var(--blue-2, #C9DBFE)" stop-opacity="0" />
                <stop offset="1" stop-color="var(--blue-2, #C9DBFE)" />
              </linearGradient>
            </defs>
          </svg>
          <div class="ring-number grid text-medium text-white">0%</div>
        </div>
      </div>

      <div class="security__card-copy">
        <p>
          51% of a web developer&rsquo;s time is spent chasing security issues
        </p>
      </div>
    </div>

    <div class="security__graph-card gradient-card position-relative">
      <div class="security__graph">
        <div class="ring position-relative text-center" data-number="80">
          <svg
            class="ring-chart"
            viewBox="0 0 396 396"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="198"
              cy="198"
              r="193"
              stroke="var(--blue-1, #FAF9F7)"
              stroke-width="10"
            />
            <circle
              class="chart-line"
              opacity="0"
              transform="rotate(-90)"
              transform-origin="198 198"
              cx="198"
              cy="198"
              r="193"
              stroke="var(--blue-3, #5d40bd)"
              stroke-width="10"
            />
            <circle cx="198" cy="198" r="175" fill="var(--blue-5, #591769)" />
            <circle
              opacity="0.18"
              cx="198"
              cy="198"
              r="175"
              fill="url(#paint1_linear_89_2864)"
            />
            <defs>
              <linearGradient
                id="paint1_linear_89_2864"
                x1="135"
                y1="42"
                x2="308"
                y2="336"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="var(--blue-2, #f6ceff)" stop-opacity="0" />
                <stop offset="1" stop-color="var(--blue-2, #f6ceff)" />
              </linearGradient>
            </defs>
          </svg>
          <div class="ring-number grid text-medium text-white">0%</div>
        </div>
      </div>

      <div class="security__card-copy">
        <p>
          80% of respondents noted that security processes delay delivery times
          “somewhat” or “significantly”
        </p>
      </div>
    </div>

    <div class="security__ratio flex gradient-card position-relative">
      <div class="security__ratio-number h1 text-blue-3 animated-fade-up">
        1:3
      </div>

      <div class="security__ratio-sep"></div>

      <div class="security__ratio-copy animated-fade-up">
        <svg
          width="165"
          viewBox="0 0 165 55"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="137.5" cy="27.5" r="27.5" fill="#FDF1FF" />
          <circle cx="82.5" cy="27.5" r="27.5" fill="#FDF1FF" />
          <circle cx="27.5" cy="27.5" r="27.5" fill="var(--blue-5, #591769)" />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M28.4247 26.0104L34.4351 20L35.8493 21.4142L29.8389 27.4246L35.8493 33.435L34.4351 34.8492L28.4247 28.8388L22.4142 34.8492L21 33.435L27.0104 27.4246L21 21.4142L22.4142 20L28.4247 26.0104Z"
            fill="var(--white, #FFF)"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M133 21H143V27H133V21ZM131 29V36H133V29H143H145V27V21V19H143H133H131V21V27V29Z"
            fill="var(--black-1, #101820)"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M78 21H88V27H78V21ZM76 29V36H78V29H88H90V27V21V19H88H78H76V21V27V29Z"
            fill="var(--black-1, #101820)"
          />
        </svg>

        <p class="h4 security__ratio-text">
          1 in 3 security issues under remediation make it to production without
          getting flagged in the test or development stages
        </p>
      </div>
    </div>
  </div>
</section>
