<section class="security-trends section-spacing">
  <div class="security-trends__container container grid grid--two-col">
    <div class="security-trends__left">
      <h2 class="h4 security-trends__heading animated-fade-up">
        We&rsquo;re keeping an eye on industry trends, so this report surveys
        direct-impact flaws identified in our customers&rsquo; environments to
        uncover year-over-year trends in the precedence of these
        vulnerabilities.
      </h2>

      <div class="security-trends__graphic security-trends__graphic--desktop">
        <svg
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 319 403"
        >
          <path d="M0 278 278 0H0v278Z" fill="var(--blue-2, #f6ceff)" />
          <path
            stroke="var(--black-1, #101820)"
            stroke-width="2"
            d="M40 177h278v186H40z"
          />
          <path fill="var(--blue-2, #f6ceff)" d="M61 183h236v8H61z" />
          <path
            stroke="var(--black-1, #101820)"
            stroke-width="2"
            d="M115 222h180v100H115z"
          />
          <path
            fill="var(--white, #FFF)"
            stroke="var(--black-1, #101820)"
            stroke-width="2"
            d="M1 302h180v100H1z"
          />
          <path
            fill="var(--blue-2, #f6ceff)"
            d="M126 233h86v51h-86zM12 313h86v51H12z"
          />
          <ellipse
            rx="67.5"
            ry="68"
            transform="matrix(-1 0 0 1 228.5 227)"
            fill="url(#a)"
          />
          <circle
            r="46"
            transform="matrix(-1 0 0 1 137.268 206)"
            fill="var(--white, #FFF)"
            stroke="var(--black-1, #101820)"
            stroke-width="2"
          />
          <path
            fill="var(--black-1, #101820)"
            d="m105.732 239-36.366 36.366 3.536 3.535 36.366-36.365z"
          />
          <circle cx="49.5" cy="186.5" r="2.5" fill="var(--black-1, #101820)" />
          <circle cx="57.5" cy="186.5" r="2.5" fill="var(--black-1, #101820)" />
          <circle cx="65.5" cy="186.5" r="2.5" fill="var(--black-1, #101820)" />
          <path
            fill="var(--white, #FFF)"
            d="M222 233h53v2h-53zM222 239h34v2h-34zM222 245h44v2h-44zM222 251h24v2h-24z"
          />
          <path
            fill="var(--blue-2, #f6ceff)"
            d="M108 313h53v2h-53zM108 319h34v2h-34zM108 325h44v2h-44zM108 331h24v2h-24z"
          />
          <path
            d="m106.398 206.043-.041-.043.041-.043a56.06 56.06 0 0 1 1.883-1.892 66.142 66.142 0 0 1 6.875-5.756C120.947 194.106 128.737 190 137 190c8.263 0 16.053 4.106 21.844 8.309a66.142 66.142 0 0 1 6.875 5.756 56.06 56.06 0 0 1 1.883 1.892l.041.043-.041.043a56.06 56.06 0 0 1-1.883 1.892 66.142 66.142 0 0 1-6.875 5.756C153.053 217.894 145.263 222 137 222c-8.263 0-16.053-4.106-21.844-8.309a66.142 66.142 0 0 1-6.875-5.756 56.06 56.06 0 0 1-1.883-1.892Z"
            stroke="var(--black-1, #101820)"
            stroke-width="2"
          />
          <circle
            cx="137"
            cy="206"
            r="9"
            stroke="var(--blue-8, #05D5FF)"
            stroke-width="2"
          />
          <circle
            cx="141"
            cy="209"
            r="4"
            stroke="var(--blue-8, #05D5FF)"
            stroke-width="2"
          />
          <defs>
            <linearGradient
              id="a"
              y2="70"
              x1="1"
              x2="1"
              y1="-50"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="var(--blue-5, #591769)" />
              <stop
                offset="1"
                stop-color="var(--blue-5, #591769)"
                stop-opacity="0"
              />
            </linearGradient>
          </defs>
        </svg>
      </div>

      <div class="security-trends__graphic security-trends__graphic--mobile">
        <svg
          viewBox="0 0 335 304"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 278L278 0H0V278Z" fill="var(--blue-2, #f6ceff)" />
          <rect
            x="56"
            y="78"
            width="278"
            height="186"
            stroke="var(--black-1, #101820)"
            stroke-width="2"
          />
          <rect
            x="77"
            y="84"
            width="246"
            height="8"
            fill="var(--blue-2, #f6ceff)"
          />
          <rect
            x="131"
            y="123"
            width="180"
            height="100"
            stroke="var(--black-1, #101820)"
            stroke-width="2"
          />
          <rect
            x="1"
            y="203"
            width="180"
            height="100"
            fill="var(--white,"
            #FFF)
            stroke="var(--black-1, #101820)"
            stroke-width="2"
          />
          <rect
            x="142"
            y="134"
            width="86"
            height="51"
            fill="var(--blue-2, #f6ceff)"
          />
          <rect
            x="12"
            y="214"
            width="86"
            height="51"
            fill="var(--blue-2, #f6ceff)"
          />
          <ellipse
            rx="67.5"
            ry="68"
            transform="matrix(-1 0 0 1 244.5 128)"
            fill="url(#paint0_linear_141_3036)"
          />
          <circle
            r="46"
            transform="matrix(-1 0 0 1 145.268 107)"
            fill="var(--white,"
            #FFF)
            stroke="var(--black-1, #101820)"
            stroke-width="2"
          />
          <rect
            width="51.4295"
            height="5"
            transform="matrix(-0.707107 0.707107 0.707107 0.707107 113.732 140)"
            fill="var(--black-1, #101820)"
          />
          <circle cx="69.5" cy="87.5" r="2.5" fill="var(--black-1, #101820)" />
          <circle cx="77.5" cy="87.5" r="2.5" fill="var(--black-1, #101820)" />
          <circle cx="85.5" cy="87.5" r="2.5" fill="var(--black-1, #101820)" />
          <rect
            x="238"
            y="134"
            width="53"
            height="2"
            fill="var(--white,"
            #FFF)
          />
          <rect
            x="238"
            y="140"
            width="34"
            height="2"
            fill="var(--white,"
            #FFF)
          />
          <rect
            x="238"
            y="146"
            width="44"
            height="2"
            fill="var(--white,"
            #FFF)
          />
          <rect
            x="238"
            y="152"
            width="24"
            height="2"
            fill="var(--white,"
            #FFF)
          />
          <rect
            x="108"
            y="214"
            width="53"
            height="2"
            fill="var(--blue-2, #f6ceff)"
          />
          <rect
            x="108"
            y="220"
            width="34"
            height="2"
            fill="var(--blue-2, #f6ceff)"
          />
          <rect
            x="108"
            y="226"
            width="44"
            height="2"
            fill="var(--blue-2, #f6ceff)"
          />
          <rect
            x="108"
            y="232"
            width="24"
            height="2"
            fill="var(--blue-2, #f6ceff)"
          />
          <path
            d="M114.398 107.043C114.384 107.029 114.371 107.014 114.357 107C114.371 106.986 114.384 106.971 114.398 106.957C114.828 106.502 115.464 105.85 116.281 105.065C117.916 103.495 120.273 101.401 123.156 99.3093C128.947 95.1064 136.737 91 145 91C153.263 91 161.053 95.1064 166.844 99.3093C169.727 101.401 172.084 103.495 173.719 105.065C174.536 105.85 175.172 106.502 175.602 106.957C175.616 106.971 175.629 106.986 175.643 107C175.629 107.014 175.616 107.029 175.602 107.043C175.172 107.498 174.536 108.15 173.719 108.935C172.084 110.505 169.727 112.599 166.844 114.691C161.053 118.894 153.263 123 145 123C136.737 123 128.947 118.894 123.156 114.691C120.273 112.599 117.916 110.505 116.281 108.935C115.464 108.15 114.828 107.498 114.398 107.043Z"
            stroke="var(--black-1, #101820)"
            stroke-width="2"
          />
          <circle
            cx="145"
            cy="107"
            r="9"
            stroke="var(--black-1, #101820)"
            stroke-width="2"
          />
          <circle
            cx="149"
            cy="110"
            r="4"
            stroke="var(--black-1, #101820)"
            stroke-width="2"
          />
          <defs>
            <linearGradient
              id="paint0_linear_141_3036"
              y2="70"
              x1="1"
              x2="1"
              y1="-50"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="var(--blue-5, #591769)" />
              <stop
                offset="1"
                stop-color="var(--blue-5, #591769)"
                stop-opacity="0"
              />
            </linearGradient>
          </defs>
        </svg>
      </div>
    </div>
    <div class="security-trends__right animated-inner-content">
      <div class="security-trends__copy">
        <p>
          This year we leaned on a deeper and richer data set, analyzing
          aggregated usage data from 939 global Invicti customers, which gave us
          a holistic view of vulnerability trends from automated scan results
          across regions.
        </p>

        <p>
          With our growing customer base and the increased recognition of the
          importance of scanning everything, 2021 was our biggest year to date.
          We blew our previous scan records out of the water and our products
          ran more scans than ever: in 2021 alone, that added up to a whopping
          23,630,985,830 security checks attempting to find and confirm
          vulnerabilities. And that&rsquo;s just for our cloud products, with
          many more checks done by on-site installations.
        </p>
      </div>

      <div class="security-trends__sep bg-blue-8"></div>

      <p class="h4 text-medium">
        We wanted deeper insight into the state of web application security,
        wondering to what degree common vulnerabilities were popping up in scans
        year-over-year and contributing to ongoing risk.
      </p>
    </div>
  </div>
</section>
