<section class="security-hygiene section-spacing">
  <div class="container container--wide security-hygiene__container">
    <h2 class="security-hygiene__heading animated-fade-up">
      For those adjusting to the new reality of hybrid remote work, it&rsquo;s
      no easy feat:
    </h2>
    <div class="security-hygiene__top">
      <div class="container grid grid--two-col security-hygiene__top-grid">
        <div class="security-hygiene__stat position-relative bg-white">
          <span class="text-blue-3 text-medium security-hygiene__number"
            >69%</span
          >

          <div class="security-hygiene__copy position-relative">
            <p>
              of organizations found that difficulties around security hygiene
              and posture management have increased over the last two years.<sup
                >1</sup
              >
            </p>
          </div>
        </div>

        <div class="security-hygiene__graphic position-relative">
          <div class="end-circle"></div>
          <svg
            class="security-hygiene"
            width="550"
            viewBox="0 0 550 340"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g opacity="0.5" fill="var(--blue-2, #f6ceff)">
              <circle cx="30" cy="30" r="29" />
              <circle cx="100" cy="30" r="29" />
              <circle cx="170" cy="30" r="29" />
              <circle cx="240" cy="30" r="29" />
              <circle cx="310" cy="30" r="29" />
              <circle cx="380" cy="30" r="29" />
              <circle cx="450" cy="30" r="29" />
              <circle cx="520" cy="30" r="29" />
              <circle cx="30" cy="100" r="29" />
              <circle cx="100" cy="100" r="29" />
              <circle cx="170" cy="100" r="29" />
              <circle cx="240" cy="100" r="29" />
              <circle cx="310" cy="100" r="29" />
              <circle cx="380" cy="100" r="29" />
              <circle cx="450" cy="100" r="29" />
              <circle cx="520" cy="100" r="29" />
              <circle cx="30" cy="170" r="29" />
              <circle cx="100" cy="170" r="29" />
              <circle cx="170" cy="170" r="29" />
              <circle cx="240" cy="170" r="29" />
              <circle cx="310" cy="170" r="29" />
              <circle cx="380" cy="170" r="29" />
              <circle cx="450" cy="170" r="29" />
              <circle cx="520" cy="170" r="29" />
              <circle cx="30" cy="240" r="29" />
              <circle cx="100" cy="240" r="29" />
              <circle cx="170" cy="240" r="29" />
              <circle cx="240" cy="240" r="29" />
              <circle cx="310" cy="240" r="29" />
              <circle cx="30" cy="310" r="30" />
              <circle cx="100" cy="310" r="30" />
              <circle cx="170" cy="310" r="30" />
              <circle cx="240" cy="310" r="30" />
              <circle cx="310" cy="310" r="30" />
              <circle cx="380" cy="310" r="30" />
              <circle cx="380" cy="240" r="30" />
              <circle cx="450" cy="240" r="30" />
              <circle cx="520" cy="240" r="30" />
              <circle cx="450" cy="310" r="30" />
              <circle cx="520" cy="310" r="30" />
            </g>
            <g fill="url(#paint0_linear_133_2)">
              <circle class="circle-fill" cx="30" cy="30" r="29" />
              <circle
                class="circle-fill"
                transform="translate(70 0)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(140 0)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(210 0)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(280 0)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(350 0)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(420 0)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(490 0)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(0 70)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(70 70)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(140 70)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(210 70)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(280 70)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(350 70)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(420 70)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(490 70)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(0 140)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(70 140)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(140 140)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(210 140)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(280 140)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(350 140)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(420 140)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(490 140)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(0 210)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(70 210)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(140 210)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(210 210)"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-fill"
                transform="translate(280 210)"
                cx="30"
                cy="30"
                r="29"
              />
            </g>

            <g stroke="var(--blue-3, #5D40BD)" stroke-width="2">
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="30 30"
                cx="30"
                cy="30"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="100 30"
                cx="100"
                cy="30"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="170 30"
                cx="170"
                cy="30"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="240 30"
                cx="240"
                cy="30"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="310 30"
                cx="310"
                cy="30"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="380 30"
                cx="380"
                cy="30"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="450 30"
                cx="450"
                cy="30"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="520 30"
                cx="520"
                cy="30"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="30 100"
                cx="30"
                cy="100"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="100 100"
                cx="100"
                cy="100"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="170 100"
                cx="170"
                cy="100"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="240 100"
                cx="240"
                cy="100"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="310 100"
                cx="310"
                cy="100"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="380 100"
                cx="380"
                cy="100"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="450 100"
                cx="450"
                cy="100"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="520 100"
                cx="520"
                cy="100"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="30 170"
                cx="30"
                cy="170"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="100 170"
                cx="100"
                cy="170"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="170 170"
                cx="170"
                cy="170"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="240 170"
                cx="240"
                cy="170"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="310 170"
                cx="310"
                cy="170"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="380 170"
                cx="380"
                cy="170"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="450 170"
                cx="450"
                cy="170"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="520 170"
                cx="520"
                cy="170"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="30 240"
                cx="30"
                cy="240"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="100 240"
                cx="100"
                cy="240"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="170 240"
                cx="170"
                cy="240"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="240 240"
                cx="240"
                cy="240"
                r="29"
              />
              <circle
                class="circle-stroke"
                transform="rotate(90)"
                transform-origin="310 240"
                cx="310"
                cy="240"
                r="29"
              />
            </g>
            <defs>
              <linearGradient
                id="paint0_linear_133_2"
                x1="30"
                y1="0"
                x2="30"
                y2="60"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="var(--blue-2, #f6ceff)" />
                <stop offset="1" stop-color="var(--white, #FFF)" />
              </linearGradient>
            </defs>
          </svg>
        </div>
      </div>
    </div>
    <div
      class="security-hygiene__bottom grid grid--two-col container animated-inner-content"
    >
      <div class="security-hygiene__bottom__left">
        <p>
          Lack of bandwidth for boots-on-the-ground teams, trouble getting
          buy-in from the top, and a massive talent shortage in IT security -
          all of these issues contribute to the ongoing problem. And so, success
          in modern application security requires more than just a thoughtful
          combination of skills and tools. You need clear top-down initiatives
          that the entire organization can follow and an eye on the trends for
          direct-impact vulnerabilities.
        </p>
      </div>

      <div class="security-hygiene__bottom__right">
        <p class="security-hygiene__smaller-text">
          We made a bold statement in the last edition of the Invicti AppSec
          Indicator, and we&rsquo;ll echo that here:
          <span class="text-blue-5">security is everyone&rsquo;s job now</span>.
          As you&rsquo;re upgrading legacy tools, streamlining scans, and fixing
          disjointed teams, you must keep an eye on trends in vulnerabilities
          and potential threats to stay ready, stay agile, and open new doors
          for innovation.
        </p>

        <p class="footnote">
          1 ESG Research Report, Security Hygiene and Posture Management,
          January 2022
        </p>
      </div>
    </div>
  </div>
</section>
