<section class="sqli section-spacing">
  <div class="sqli__grid container grid grid--two-col">
    <div class="sqli__chart-wrap position-relative">
      <svg
        class="sqli__chart-desktop animated-bar-chart-vertical"
        viewBox="0 0 526 687"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          class="bar"
          x="4"
          y="347"
          width="114"
          height="340"
          fill="url(#paint0_linear_611_3)"
        />
        <rect
          class="bar"
          x="140"
          y="288"
          width="114"
          height="399"
          fill="url(#paint1_linear_611_3)"
        />
        <rect
          class="bar"
          x="276"
          y="212"
          width="114"
          height="475"
          fill="url(#paint2_linear_611_3)"
        />
        <rect
          class="bar"
          x="412"
          y="237"
          width="114"
          height="450"
          fill="url(#paint3_linear_611_3)"
        />
        <g class="value">
          <text
            fill="var(--black-1, #101820)"
            xml:space="preserve"
            font-family="Maax"
            font-size="12"
            letter-spacing="0em"
          >
            <tspan x="0" y="283">2018</tspan>
          </text>
          <text
            fill="var(--blue-3, #5d40bd)"
            xml:space="preserve"
            font-family="Maax"
            font-size="28"
            letter-spacing="0em"
          >
            <tspan x="0" y="316.5">16%</tspan>
          </text>
        </g>
        <g class="value">
          <text
            fill="var(--black-1, #101820)"
            xml:space="preserve"
            font-family="Maax"
            font-size="12"
            letter-spacing="0em"
          >
            <tspan x="140" y="224">2019</tspan>
          </text>
          <text
            fill="var(--blue-3, #5d40bd)"
            xml:space="preserve"
            font-family="Maax"
            font-size="28"
            letter-spacing="0em"
          >
            <tspan x="140" y="257.5">19%</tspan>
          </text>
        </g>
        <g class="value">
          <text
            fill="var(--black-1, #101820)"
            xml:space="preserve"
            font-family="Maax"
            font-size="12"
            letter-spacing="0em"
          >
            <tspan x="276" y="149">2020</tspan>
          </text>
          <text
            fill="var(--blue-3, #5d40bd)"
            xml:space="preserve"
            font-family="Maax"
            font-size="28"
            letter-spacing="0em"
          >
            <tspan x="276" y="182.5">22%</tspan>
          </text>
        </g>
        <g class="value">
          <text
            fill="var(--black-1, #101820)"
            xml:space="preserve"
            font-family="Maax"
            font-size="12"
            letter-spacing="0em"
          >
            <tspan x="412" y="173">2021</tspan>
          </text>
          <text
            fill="var(--blue-3, #5d40bd)"
            xml:space="preserve"
            font-family="Maax"
            font-size="28"
            letter-spacing="0em"
          >
            <tspan x="412" y="206.5">21%</tspan>
          </text>
        </g>
        <text
          fill="var(--black-1, #101820)"
          xml:space="preserve"
          font-family="Maax"
          font-size="28"
          letter-spacing="0em"
        >
          <tspan x="4" y="48.5">SQLi vulnerabilities</tspan>
        </text>
        <text
          fill="var(--black-1, #101820)"
          xml:space="preserve"
          font-family="Maax"
          font-size="12"
          letter-spacing="0em"
        >
          <tspan class="text-uppercase" x="4" y="10">Four-year Trend</tspan>
        </text>
        <defs>
          <linearGradient
            id="paint0_linear_611_3"
            x1="61"
            y1="347"
            x2="61"
            y2="687"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="var(--blue-5, #591769)" />
            <stop
              offset="1"
              stop-color="var(--blue-5, #591769)"
              stop-opacity="0"
            />
          </linearGradient>
          <linearGradient
            id="paint1_linear_611_3"
            x1="197"
            y1="288"
            x2="197"
            y2="687"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="var(--blue-4, #CC8BDB)" />
            <stop
              offset="1"
              stop-color="var(--blue-4, #CC8BDB)"
              stop-opacity="0"
            />
          </linearGradient>
          <linearGradient
            id="paint2_linear_611_3"
            x1="333"
            y1="212"
            x2="333"
            y2="687"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="var(--blue-3, #5d40bd)" />
            <stop
              offset="1"
              stop-color="var(--blue-3, #5d40bd)"
              stop-opacity="0"
            />
          </linearGradient>
          <linearGradient
            id="paint3_linear_611_3"
            x1="469"
            y1="237"
            x2="469"
            y2="687"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="var(--blue-6, #3C1053)" />
            <stop
              offset="1"
              stop-color="var(--blue-6, #3C1053)"
              stop-opacity="0"
            />
          </linearGradient>
        </defs>
      </svg>

      <svg
        class="sqli__chart-mobile animated-bar-chart-vertical"
        viewBox="0 0 335 477"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          y="277"
          width="70"
          height="200"
          fill="url(#paint0_linear_611_6)"
          class="bar"
        />
        <rect
          x="88"
          y="218"
          width="70"
          height="259"
          fill="url(#paint1_linear_611_6)"
          class="bar"
        />
        <rect
          x="176"
          y="142"
          width="70"
          height="335"
          fill="url(#paint2_linear_611_6)"
          class="bar"
        />
        <rect
          x="265"
          y="167"
          width="70"
          height="310"
          fill="url(#paint3_linear_611_6)"
          class="bar"
        />
        <g class="value">
          <text
            fill="var(--black-1, #101820)"
            xml:space="preserve"
            font-family="Maax"
            font-size="11"
            letter-spacing="0em"
          >
            <tspan x="0" y="229.25">2018</tspan>
          </text>
          <text
            fill="var(--blue-3, #5d40bd)"
            xml:space="preserve"
            font-family="Maax"
            font-size="24"
            letter-spacing="0em"
          >
            <tspan x="0" y="257">16%</tspan>
          </text>
        </g>
        <g class="value">
          <text
            fill="var(--black-1, #101820)"
            xml:space="preserve"
            font-family="Maax"
            font-size="11"
            letter-spacing="0em"
          >
            <tspan x="88" y="170.25">2019</tspan>
          </text>
          <text
            fill="var(--blue-3, #5d40bd)"
            xml:space="preserve"
            font-family="Maax"
            font-size="24"
            letter-spacing="0em"
          >
            <tspan x="88" y="198">19%</tspan>
          </text>
        </g>
        <g class="value">
          <text
            fill="var(--black-1, #101820)"
            xml:space="preserve"
            font-family="Maax"
            font-size="11"
            letter-spacing="0em"
          >
            <tspan x="176" y="95.25">2020</tspan>
          </text>
          <text
            fill="var(--blue-3, #5d40bd)"
            xml:space="preserve"
            font-family="Maax"
            font-size="24"
            letter-spacing="0em"
          >
            <tspan x="176" y="123">22%</tspan>
          </text>
        </g>
        <g class="value">
          <text
            fill="var(--black-1, #101820)"
            xml:space="preserve"
            font-family="Maax"
            font-size="11"
            letter-spacing="0em"
          >
            <tspan x="264" y="119.25">2021</tspan>
          </text>
          <text
            fill="var(--blue-3, #5d40bd)"
            xml:space="preserve"
            font-family="Maax"
            font-size="24"
            letter-spacing="0em"
          >
            <tspan x="264" y="147">21%</tspan>
          </text>
        </g>
        <text
          fill="var(--black-1, #101820)"
          xml:space="preserve"
          font-family="Maax"
          font-size="24"
          letter-spacing="0em"
        >
          <tspan x="0" y="41">SQLi vulnerabilities</tspan>
        </text>
        <text
          fill="var(--black-1, #101820)"
          xml:space="preserve"
          font-family="Maax"
          font-size="12"
          letter-spacing="0em"
        >
          <tspan class="text-uppercase" x="0" y="10">Four-year Trend</tspan>
        </text>
        <defs>
          <linearGradient
            id="paint0_linear_611_6"
            x1="35"
            y1="277"
            x2="35"
            y2="477"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="var(--blue-5, #591769)" />
            <stop
              offset="1"
              stop-color="var(--blue-5, #591769)"
              stop-opacity="0"
            />
          </linearGradient>
          <linearGradient
            id="paint1_linear_611_6"
            x1="123"
            y1="218"
            x2="123"
            y2="477"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="var(--blue-4, #CC8BDB)" />
            <stop
              offset="1"
              stop-color="var(--blue-4, #CC8BDB)"
              stop-opacity="0"
            />
          </linearGradient>
          <linearGradient
            id="paint2_linear_611_6"
            x1="211"
            y1="142"
            x2="211"
            y2="477"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="var(--blue-3, #5d40bd)" />
            <stop
              offset="1"
              stop-color="var(--blue-3, #5d40bd)"
              stop-opacity="0"
            />
          </linearGradient>
          <linearGradient
            id="paint3_linear_611_6"
            x1="300"
            y1="167"
            x2="300"
            y2="477"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="var(--blue-6, #3C1053)" />
            <stop
              offset="1"
              stop-color="var(--blue-6, #3C1053)"
              stop-opacity="0"
            />
          </linearGradient>
        </defs>
      </svg>

      <div class="sqli__instances ssrf__instances--desktop bg-blue-1">
        <div class="sqli__instances-text">Unique Instances Found</div>
        <div class="sqli__instances-number text-blue-3 h4">4,712</div>
      </div>
    </div>

    <div class="sqli__copy-wrap">
      <h2 class="sqli__heading h4 animated-fade-up">
        SQL injection (SQLi) allows malicious actors to modify or replace
        queries that an application sends to its database.
      </h2>
      <div class="sqli__copy animated-inner-content">
        <p>
          Most web applications use a database that accepts queries in the SQL
          language and responds by returning the requested data or performing
          specified database operations. If an application builds its database
          queries from unsanitized inputs that an attacker can control, it is
          vulnerable to SQL injection.
        </p>
        <p>
          Depending on the application and the database configuration, a
          successful SQLi attack can lead to unauthorized access, compromised
          credentials, leaked company data, or even complete data loss if an
          attacker deletes the database tables. Couple that with the associated
          costly downtime, and SQLi is an expensive problem. Despite being one
          of the oldest web vulnerabilities with well-known mitigation methods,
          SQL injection still occurs in modern web applications.
        </p>

        <div class="sqli__sep"></div>

        <h3 class="sqli__subheading h4">Pro tip</h3>
        <div class="footnote">
          <p>
            The rising prevalence of individual RCE vulnerabilities may be
            related to more applications being deployed in the form of multiple
            containerized components, thus multiplying the potential attack
            surfaces for RCE.
          </p>
        </div>
      </div>
    </div>

    <div class="sqli__learn-more bg-blue-1 position-relative">
      <div
        class="sqli__learn-more-heading text-uppercase text-blue-5 text-medium"
      >
        Learn more about SQLi
      </div>
      <div class="sqli__learn-more-copy">
        <p>
          In 2019, a SQLi vulnerability resulted in the theft of tax data for
          millions of Bulgarian citizens. Records dating back ten years were
          exposed on underground forums, including full names, income
          information, personal identification numbers (EGN), social benefits,
          and more.
        </p>
      </div>
    </div>
  </div>
</section>
