<section class="sugar-coating section-spacing">
  <div class="container sugar-coating__top-grid grid grid--two-col">
    <div class="sugar-coating__left-copy animated-inner-content">
      <h4 class="sugar-coating__heading animated-fade-up">
        There&rsquo;s no sugar-coating it.
      </h4>
      <p>
        Failures in secure design plus a lack of comprehensive scanning coverage
        in dev and production continue to expose organizations to potentially
        catastrophic risk. Especially when you factor in the growing skills gap
        in cybersecurity, which can mean developers make prioritization
        tradeoffs without all of the necessary knowledge to minimize risk.
        Baking the concept of secure design into the software development
        process makes it a core element of innovation. Developers and security
        must be held accountable for secure design, comprehensive scanning,
        rapid remediation, and deep collaboration. A mature DevSecOps approach
        ensures this will happen.
      </p>
    </div>

    <div class="sugar-coating__right-copy animated-inner-content">
      <p>
        Initiatives like security champions programs - which aim to improve
        know-how and spark passion for security - can help you keep talented
        workers in their seats while also leveling up their skill sets. And with
        70% of Information Systems Security Association (ISSA) members citing
        the cybersecurity skills gap as having an impact on their company,
        that&rsquo;s a big deal moving forward.<sup>2</sup>
      </p>
      <p>
        Finding the right cybersecurity talent to fill these critical roles is
        ever-important because the frequency and breadth of breaches continue to
        increase, costing more time and money while harming businesses and
        individuals alike.
      </p>
      <p>
        The average cost of a single data breach hit a 17-year high in 2021
        alone at just over $4 million,<sup>3</sup> with the number of reported
        compromises reaching 1,862 and impacting 293,927,708 victims.<sup
          >4</sup
        >
        Getting in front of these costly and damaging incidents is a marathon,
        and the race has already started, so it&rsquo;s time to catch up.
      </p>

      <ul class="sugar-coating__footnotes text-black-2">
        <li>
          2 ESG Research Report: The Life and Times of Cybersecurity
          Professionals 2020
        </li>
        <li>3 IBM: Cost of a Data Breach Report 2021</li>
        <li>4 2022 ITRC Annual Data Breach Report</li>
      </ul>
    </div>
  </div>

  <div class="sugar-coating__bottom-grid grid container container--wide">
    <div
      class="sugar-coating__stat position-relative gradient-card text-center animated-big-stat gradient-card"
    >
      <span
        class="sugar-coating__big-num text-blue-3 text-medium position-relative"
        >$4 million</span
      >
      <p
        class="sugar-coating__stat-text text-uppercase big-stat-text text-medium"
      >
        Average cost of a single data breach
      </p>
    </div>

    <div
      class="sugar-coating__stat position-relative gradient-card text-center animated-big-stat gradient-card"
    >
      <span
        class="sugar-coating__big-num text-blue-3 text-medium position-relative"
        >1,862</span
      >
      <p
        class="sugar-coating__stat-text text-uppercase big-stat-text text-medium"
      >
        Reported compromises
      </p>
    </div>

    <div
      class="sugar-coating__stat position-relative gradient-card text-center animated-big-stat gradient-card"
    >
      <span
        class="sugar-coating__bigger-num text-blue-3 text-medium position-relative"
        >293,927,708</span
      >
      <p
        class="sugar-coating__stat-text text-uppercase big-stat-text text-medium"
      >
        Victims
      </p>
    </div>
  </div>
</section>
