<section class="vulnerabilities section-spacing">
  <div
    class="vulnerabilities__grid grid grid--two-col container container--wide"
  >
    <h2 class="h4 vulnerabilities__heading animated-fade-up">
      With severe web vulnerabilities on a steady rise, it&rsquo;s clear that
      there&rsquo;s still work to do in preventing and remediating these
      security flaws
    </h2>

    <div class="vulnerabilities__copy animated-inner-content">
      <p>
        The graph above shows the number of times we&rsquo;ve helped companies
        discover RCE, SSRF, SQLi, LFI, and OS command injection, which are
        hovering around the same number year after year or increasing slightly.
      </p>
      <p>
        Remote code execution, for example, has seen a steady and worrisome
        increase since 2018, jumping 5% in frequency. Cross-site scripting - one
        of the most common flaws - saw a slight improvement in 2020, only to
        bounce back with a vengeance and a 6% jump. That tells us these flaws
        are still slipping under the radar or falling victim to time-strapped
        teams, and things just aren&rsquo;t getting better. As we dive into each
        of these direct-impact vulnerabilities with prevention and mitigation
        steps, take note of just how many flaws can lead to sensitive data loss,
        costly ransomware, and industry-shaking incidents like Log4Shell.
      </p>
    </div>

    <svg
      class="vulnerabilities__line-graph"
      width="869"
      viewBox="0 0 869 474"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect width="869" height="474" fill="var(--black-1, #101820)" />
      <polyline
        class="the-line"
        points="82 386, 121 380, 161 385, 201 375, 241 370, 281 375, 321 365, 361 345, 401 335, 441 335, 481 325, 521 295, 561 295, 601 265, 641 257, 681 240, 721 205, 761 185, 801 135"
        stroke="var(--blue-4, #CC8BDB)"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="82"
        cy="386"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="var(--white, #FFF)"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="121"
        cy="380"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="var(--white, #FFF)"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="161"
        cy="385"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="var(--white, #FFF)"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="201"
        cy="375"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="var(--white, #FFF)"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="241"
        cy="370"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="var(--white, #FFF)"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="281"
        cy="375"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="var(--white, #FFF)"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="321"
        cy="365"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="var(--white, #FFF)"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="361"
        cy="345"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="var(--white, #FFF)"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="401"
        cy="335"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="var(--white, #FFF)"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="441"
        cy="335"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="var(--white, #FFF)"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="481"
        cy="325"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="var(--white, #FFF)"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="521"
        cy="295"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="var(--white, #FFF)"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="561"
        cy="295"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="var(--white, #FFF)"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="601"
        cy="265"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="var(--white, #FFF)"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="641"
        cy="257"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="var(--white, #FFF)"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="681"
        cy="240"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="var(--white, #FFF)"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="721"
        cy="205"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="var(--white, #FFF)"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="761"
        cy="185"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="var(--white, #FFF)"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="801"
        cy="135"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="var(--white, #FFF)"
        stroke-width="2"
      />
      <rect x="40" y="40" width="2" height="404" fill="var(--white, #FFF)" />
      <rect x="40" y="442" width="789" height="2" fill="var(--white, #FFF)" />
      <text
        fill="var(--white, #FFF)"
        xml:space="preserve"
        font-family="Maax"
        font-size="28"
        letter-spacing="0em"
      >
        <tspan x="81" y="170.5">Well-known vulnerability</tspan>
      </text>
      <text
        fill="var(--white, #FFF)"
        xml:space="preserve"
        font-family="Maax"
        font-size="28"
        letter-spacing="0em"
      >
        <tspan x="81" y="201.5">classes have still</tspan>
      </text>
      <text
        fill="var(--white, #FFF)"
        xml:space="preserve"
        font-family="Maax"
        font-size="28"
        letter-spacing="0em"
      >
        <!-- prettier-ignore -->
        <tspan x="301.363" y="201.5" style="font-weight: 500">held strong</tspan>
      </text>
      <text
        fill="var(--white, #FFF)"
        xml:space="preserve"
        font-family="Maax"
        font-size="28"
        letter-spacing="0em"
      >
        <tspan x="81" y="232.5">or</tspan>
      </text>
      <text
        fill="var(--white, #FFF)"
        xml:space="preserve"
        font-family="Maax"
        font-size="28"
        letter-spacing="0em"
      >
        <tspan x="116.82" y="232.5" style="font-weight: 500">increased</tspan>
      </text>
      <text
        fill="var(--white, #FFF)"
        xml:space="preserve"
        font-family="Maax"
        font-size="28"
        letter-spacing="0em"
      >
        <tspan x="245.371" y="232.5">in frequency</tspan>
      </text>
      <text
        fill="var(--white, #FFF)"
        xml:space="preserve"
        font-family="Maax"
        font-size="28"
        letter-spacing="0em"
      >
        <tspan x="81" y="263.5">over the past four years.</tspan>
      </text>
    </svg>

    <svg
      class="vulnerabilities__line-graph vulnerabilities__line-graph--mobile"
      viewBox="0 0 375 331"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect width="375" height="331" fill="var(--black-1, #101820)" />
      <polyline
        class="the-line"
        points="53 265, 93 275, 133 264, 173 241, 213 238, 253 218, 293 210, 333 170"
        stroke="var(--blue-4, #CC8BDB)"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="54"
        cy="265"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="white"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="93"
        cy="275"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="white"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="133"
        cy="264"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="white"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="173"
        cy="241"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="white"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="213"
        cy="238"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="white"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="253"
        cy="218"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="white"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="293"
        cy="210"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="white"
        stroke-width="2"
      />
      <circle
        class="plot-point"
        cx="333"
        cy="170"
        r="4"
        fill="var(--blue-4, #cc8bdb)"
        stroke="white"
        stroke-width="2"
      />
      <rect x="20" y="20" width="2" height="291" fill="white" />
      <rect x="20" y="309" width="335" height="2" fill="white" />
      <text
        fill="white"
        xml:space="preserve"
        font-family="Maax"
        font-size="24"
        letter-spacing="0em"
      >
        <tspan x="49" y="78">Well-known vulnerability</tspan>
      </text>
      <text
        fill="white"
        xml:space="preserve"
        font-family="Maax"
        font-size="24"
        letter-spacing="0em"
      >
        <tspan x="49" y="104">classes have still</tspan>
      </text>
      <text
        fill="white"
        xml:space="preserve"
        font-family="Maax"
        font-size="24"
        letter-spacing="0em"
      >
        <tspan font-weight="bold" x="237.883" y="104">held</tspan>
      </text>
      <text
        fill="white"
        xml:space="preserve"
        font-family="Maax"
        font-size="24"
        letter-spacing="0em"
      >
        <tspan font-weight="bold" x="49" y="130">strong</tspan>
      </text>
      <text
        fill="white"
        xml:space="preserve"
        font-family="Maax"
        font-size="24"
        letter-spacing="0em"
      >
        <tspan x="120.484" y="130">&nbsp;or</tspan>
      </text>
      <text
        fill="white"
        xml:space="preserve"
        font-family="Maax"
        font-size="24"
        letter-spacing="0em"
      >
        <tspan font-weight="bold" x="158.57" y="130">increased</tspan>
      </text>
      <text
        fill="white"
        xml:space="preserve"
        font-family="Maax"
        font-size="24"
        letter-spacing="0em"
      >
        <tspan x="265.328" y="130">&nbsp;in</tspan>
      </text>
      <text
        fill="white"
        xml:space="preserve"
        font-family="Maax"
        font-size="24"
        letter-spacing="0em"
      >
        <tspan x="49" y="154">frequency over the past</tspan>
      </text>
      <text
        fill="white"
        xml:space="preserve"
        font-family="Maax"
        font-size="24"
        letter-spacing="0em"
      >
        <tspan x="49" y="178">four years.</tspan>
      </text>
    </svg>

    <div class="vulnerabilities__card-grid grid grid--two-col">
      <div
        class="vulnerabilities__card gradient-card position-relative animated-data-card"
      >
        <div class="vulnerabilities__graphic-wrap grid grid--two-col">
          <div class="vulnerabilities__number data-card-number">
            <span
              class="vulnerabilities__since text-uppercase text-medium text-blue-5"
              >Since 2020</span
            >
            <span class="vulnerabilities__percent text-medium text-blue-3"
              >6%</span
            >
          </div>

          <!-- prettier-ignore -->
          {{> svg/data-card-icon }}
          <!-- prettier-ignore -->
        </div>

        <div class="vulnerabilities__card-sep"></div>

        <div
          class="vulnerabilities__card-copy data-card-copy text-uppercase text-medium"
        >
          <p>Increase in cross-site scripting</p>
        </div>
      </div>

      <div
        class="vulnerabilities__card gradient-card position-relative animated-data-card"
      >
        <div class="vulnerabilities__graphic-wrap grid grid--two-col">
          <div class="vulnerabilities__number data-card-number">
            <span
              class="vulnerabilities__since text-uppercase text-medium text-blue-5"
              >Since 2018</span
            >
            <span class="vulnerabilities__percent text-medium text-blue-3"
              >5%</span
            >
          </div>

          <!-- prettier-ignore -->
          {{> svg/data-card-icon }}
          <!-- prettier-ignore -->
        </div>

        <div class="vulnerabilities__card-sep"></div>

        <div
          class="vulnerabilities__card-copy data-card-copy text-uppercase text-medium"
        >
          <p>Increase in frequency of remote code execution</p>
        </div>
      </div>
    </div>
  </div>
</section>
