<section class="whats-next container container--wide grid">
  <div class="whats-next__graphic-area bg-blue-1 position-relative flex">
    <div class="whats-next__heading-wrap flex">
      <h2 class="whats-next__heading text-blue-5 animated-fade-up">
        There is light on the horizon for organizations struggling to reduce
        risk
      </h2>
      <img
        class="whats-next__icon"
        src="/assets/img/invicti-octopus.png"
        alt=""
      />
    </div>

    <div class="whats-next__graphic-wrap">
      <div class="whats-next__graphic position-relative">
        <div
          class="whats-next__gradient whats-next__gradient--top pin-wheel"
        ></div>
        <div
          class="whats-next__gradient whats-next__gradient--bottom pin-wheel"
        ></div>
        <img
          class="position-absolute"
          src="/assets/img/whats-next-bg.jpg"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="whats-next__content animated-inner-content">
    <p><span class="text-medium">So what&rsquo;s next?</span></p>
    <p>
      Frontline defenders who catch, uncover, and mitigate these vulnerabilities
      every day must stay vigilant and communicate openly with their teams about
      what they need. And the leaders above those frontline defenders who make
      decisions about budgets and tooling need to take a serious step back to
      evaluate what needs to be done. When security is everyone&rsquo;s job and
      ingrained in an organization&rsquo;s culture, risk reduction doesn&rsquo;t
      compete with agile frameworks or modern development practices focused on
      removing barriers and speeding up delivery times - it becomes inherent to
      them.
    </p>
    <p>
      As worrisome flaws persist relentlessly, so too can the developers and
      security professionals striving to build the next innovative applications
      that keep us connected to the digital world. With an AppSec program
      that&rsquo;s DevSecOps-focused, developer-friendly, and includes accurate,
      updated tooling that automates at every step of the way, there is light on
      the horizon for organizations struggling to reduce risk.
    </p>
  </div>
</section>
